<plugin name='hibernate' version='1.3.6' grailsVersion='1.3 &gt; *'>
  <author>Graeme Rocher</author>
  <title>Hibernate for Grails</title>
  <description>A plugin that provides integration between Grails and Hibernate through GORM</description>
  <documentation>http://grails.org/doc/1.3.6</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>DataSource</resource>
    <resource>org.grails.Behavior</resource>
  </resources>
  <dependencies>
    <plugin name='dataSource' version='1.3 &gt; *' />
    <plugin name='i18n' version='1.3 &gt; *' />
    <plugin name='core' version='1.3 &gt; *' />
    <plugin name='domainClass' version='1.3 &gt; *' />
  </dependencies>
  <behavior />
</plugin>